# Metallicafan212: Always do system line endings for UC
*.uc text
*.usa text eol=crlf
*.int text eol=crlf

# Metallicafan212: Fuck it, prevent modification, as git can't be trusted to leave utf-16 alone for some reason
*.gin binary
*.bra binary
*.che binary
*.dan binary
*.dut binary
*.fin binary
*.fre binary
*.ger binary
*.gre binary
*.ita binary
*.jap binary
*.kor binary
*.nor binary
*.pol binary
*.por binary
*.rus binary
*.sim binary
*.spa binary
*.swe binary
*.tha binary
*.tra binary

# Metallicafan212: Binary files
*.u binary
*.png binary
*.bmp binary
*.pcx binary
*.wav binary
*.psa binary
*.psk binary
*.db binary
*.utx binary