# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Metallicafan212: Always do windows line endings
*.gin text eol=crlf
*.int text eol=crlf

*.bra text eol=crlf
*.che text eol=crlf
*.dan text eol=crlf
*.dut text eol=crlf
*.fin text eol=crlf
*.fre text eol=crlf
*.ger text eol=crlf
*.gre text eol=crlf
*.ita text eol=crlf
*.jap text eol=crlf
*.kor text eol=crlf
*.nor text eol=crlf
*.pol text eol=crlf
*.por text eol=crlf
*.rus text eol=crlf
*.sim text eol=crlf
*.spa text eol=crlf
*.swe text eol=crlf
*.tha text eol=crlf
*.tra text eol=crlf
*.usa text eol=crlf